.alerts-section {

  .section-header {
    font-weight: bold;
  }

  .alert-names {
    max-height: 240px;
    overflow: auto;

    .alert-row {
      display: flex;
      margin-left: 12px;

      div:first-child {
        width: 35px;
      }
    }
  }
}