.alerts {
  .filter > .clr-control-container {
    width: 100%;

    .clr-input-wrapper {
      display: flex;

      input {
        padding-left: 32px;
        width: 100%;
      }

      cds-control-action {
        position: absolute;
      }
    }
  }
}