.alert-context-menu {
  .dropdown-menu {
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: -72px;
    padding: 0;
    visibility: visible;

    .dropdown-divider {
      margin: 0;
    }
  }
}