.alert-context-menu {

  .dropdown-menu {
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: -122px;
    padding: 0;
    visibility: visible;

    .dropdown-header {
      margin-top: 6px;
    }

    .dropdown-divider {
      margin: 0;
    }

    .react-contextmenu-item--disabled {
      cursor: not-allowed;
      opacity: .4;
    }
  }
}