.alerts > .top-level-alerts {
  margin: 9px 0;

  .title {
    display: flex;

    .menu {
      padding: 0 6px;
    }

    .arrow {
      padding: 0 6px;
    }

    .id {
      color: var(--clr-link-color);

      cds-icon {
        margin-right: 6px;
      }
    }
  }

  .content {
    margin-left: 62px;
  }
}