@import '@cds/city/css/bundles/default.css';
@import '@cds/core/global.css';
@import '@clr/ui/clr-ui.css';


#root {
  margin: 10px 40px;

  > .page-header {
    display: flex;

    img {
      width: 50px;
    }

    h1 {
      margin: 24px;
    }
  }
}